# === Java ===
*.class
*.jar
*.war
*.ear
*.log

# === Build ===
/build/
/out/

# === Gradle ===
.gradle/
/**/.gradletasknamecache
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws


# Module files (IDE-specific)
**/*.iml
**/.idea/modules.xml
**/.idea/*.iml
**/workspace.xml
**/libraries/
**/compiler.xml
**/gradle.xml
**/jarRepositories.xml
**/misc.xml
**/vcs.xml



# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# === Logs and temp ===
*.tmp
*.pid
*.swp

# === Environment and secrets ===
.env
*.env
.env.*

# === JetBrains Rider / Android Studio / інші на базі IntelliJ ===
*.sublime-workspace
*.sublime-project
*.name

#
